# LANGSMITH CONFIG
LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT="https://api.smith.langchain.com"
LANGSMITH_API_KEY="ls__..."
LANGSMITH_PROJECT="mygrate-project"

# GOOGLE GEMINI CONFIG
GOOGLE_API_KEY="your-api-key-here"
LANGSMITH_TRACING=
LANGSMITH_ENDPOINT=
LANGSMITH_API_KEY=
LANGSMITH_PROJECT=